.app-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.input-container {
    .margin-bottom {
        margin-bottom: 14px;
    }
}

.button-container {
    .full-width {
        width: 100%;
    }
    
}

.margin-top {
    margin-top: 14px;
}